<footer class="fixed-bottom" style="background-color : #970747;">
        <div>
            <div class="container-fluid width: 100% " >
                <div class="row">

                    <div class="col-2"><img src="images/favicon.png" class="image-fluid"></div>

                    <div class="col-1"></div>

                    <div class="col-1"> <a href="https://twitter.com/?lang=fr"><img src="images/Logo_of_Twitter.png" class="image-fluid"></a> </div>
                    <div class="col-1"> <a href="https://www.facebook.com/?locale=fr_FR"><img src="images/Facebook_Logo_(2019).png" class="image-fluid"></a> </div>
                    <div class="col-1"> <a href="https://www.instagram.com/"><img src="images/Instagram_icon.png" class="image-fluid"></a> </div>
                    <div class="col-2"> <a href="/polcon">Politique de confidentialité </a> </div>
                    <div class="col-2"> <a href="/mentions">Mentions légales </a> </div>

                </div>
            </div>
        
        </div>
</footer>