<header class="navbar navbar-expand-sm navbar-light" style="background-color : #970747;">
        <div class="container-fluid ">
            <div class="row ">
                <div class="col-1 mr-4"><img src="{{asset('images/logo.png')}}" alt="logo" class="img-fluid"></div>
                <div class="col-2  font-weight-bold h1 mt-4 d-none d-md-block "><a href="/" style="color :#fef4e8">Accueil</a></div>
                <div class="col-2  font-weight-bold h1 mt-4 d-none d-md-block "><a href="/categories" style="color :#fef4e8">Catégories</a></div>
                <div class="col-2  font-weight-bold h1 mt-4 d-none d-md-block "><a href="/plats" style="color :#fef4e8">Plats</a></div>
                <div class="col-2  font-weight-bold h1 mt-4 d-none d-md-block "><a href="/contact" style="color :#fef4e8">Contact</a></div>  
                
        
            </div>
            
            
            
            <div class="dropdown justify-content-center mt-3 d-sm-block d-md-none">
                <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">Menu </button>
                <div class="dropdown-menu dropdown-menu-right ">
                  <a class="dropdown-item" href="/">Accueil</a>
                  <a class="dropdown-item" href="/categories">Catégorie</a>
                  <a class="dropdown-item" href="/plats">Plats</a>
                  <a class="dropdown-item" href="/contact">Contact</a>
                  {% if not is_granted("ROLE_USER") %}
                  <a class="dropdown-item" href="/register">S'inscrire</a>
                  <a class="dropdown-item" href="/login">Connexion</a>
                  {% endif %}
                  {% if is_granted("ROLE_USER") %}
                  <a class="dropdown-item" href="/logout">Déconnexion</a>
                  <a class="dropdown-item" href="/panier">Panier</a>
                  {% endif %}
                  <a class="dropdown-item" href="/admin">Admin</a>
                </div>
            </div>
        </div>
        
</header>

    <div>
        <div class="responsive img-fluid w-100 p-5" style="background-image: url(images/bg2.jpg); background-size: cover;">
            <div class="row ">
                {% if not is_granted("ROLE_USER") %}
                <button type="button" class="col-3 btn-dark font-weight-bold h1 m-4 d-none d-md-block border rounded"><a href="/register" style="color :#fef4e8">S'inscrire</a>
                <button type="button" class="col-3 btn-dark font-weight-bold h1 m-4 d-none d-md-block border rounded"><a href="/login" style="color :#fef4e8">Connexion</a>
                {% endif %}
                {% if is_granted("ROLE_USER") %}
                <button type="button" class="col-3 btn-dark font-weight-bold h1 m-4 d-none d-md-block border rounded"><a href="/logout" style="color :#fef4e8">Se déconecter</a>
                <button type="button" class="col-3 btn-dark font-weight-bold h1 m-4 d-none d-md-block border rounded"><a href="/panier" style="color :#fef4e8">Panier</a>
                {% endif %}
                <button type="button" class="col-3 btn-dark font-weight-bold h1 m-4 d-none d-md-block border rounded"><a href="/admin" style="color :#fe0000">Admin</a>
            </div>
        </div>
    </div>
