<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="icon" type="image/x-icon" href=" ">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        <style>div.hover{transform: scale(1.0 );  transition-duration: 0.5s ;}</style>
        <style>.hover:hover {transform: scale(1.12);}</style>

        <style>.para{background-image: url(../assets/img/images_the_district/paralax.png);  min-height: 300px; background-attachment: fixed;  background-position: center; background-repeat: no-repeat; background-size: cover;}</style>
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %} 
            {% include "partials/_header.php.twig" %}
        {% endblock %}
        {% block body %}{% endblock %}

        {% block footer %} 
            {% include "partials/_footer.php.twig" %}
        {% endblock %}
    </body>
</html>
